# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
# Optional
*.egg-info/
.eggs/
*.log
logs/
build/
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
# IDE
.idea/
.vscode/

# Reference/upstream materials
ezegm/
*.pdf
